:root {
    --nav-brown-color: #660014;
    --universal-black: #0d0e10;
    --background-color: rgba(0, 0, 0, 0.87);
    --white-color: #ffffff;
    --gold-color: rgb(193, 163, 98);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* NAV Starts */

nav {
    width: 100%;
    background-color: var(--nav-brown-color);
    height: 80px;
    padding: 0 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: navcolorchange 12s alternate infinite ease-in-out;
    align-items: center;
    color: white;
}

nav .search-bar input:focus {
  outline: none;
}

.left-side li a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav .left-side {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav .left-side a{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

nav .left-side .left-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav .left-content button {
    position: relative;
    height: 2rem;
    color: rgb(193, 163, 98);
    margin: auto;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 14px;
    border: 2px solid rgb(193, 163, 98);
    border-radius: 20px;
    z-index: 1;
}

nav .left-side ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav ul li.active {
    border: 1px solid white;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    min-width: 64px;
}

nav .right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav .right-side .ham {
    visibility: hidden;
  }

nav .right-side .search-bar {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    cursor: text;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 2.64rem;
    position: relative;
    padding: 0 14px;
    gap: 1rem;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 32px;
    transition: border-color 0.3s ease-in-out 0s;
}

nav .search-bar input {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    padding: 16.5px 0px;
}

nav .right-side img {
    width: 61%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

nav .right-side a {
  width: 4rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  animation: colorchange 12s alternate infinite ease-in-out;
  height: auto;
  width: 100%;
}

@keyframes colorchange{
  0%{
    background: linear-gradient(151deg, rgb(68,68,7) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
  }

  25%{
    background: linear-gradient(151deg, rgb(0,0,0) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
  }

  50%{
    background: linear-gradient(151deg, rgb(52, 23, 53) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
  }

  75%{
    background: linear-gradient(151deg, rgb(68,22,7) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
  }

  100%{
    background: linear-gradient(151deg, rgb(68, 68, 7) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
  }
}

@keyframes navcolorchange{
  0%{
    background: rgb(49, 49, 4);
  }

  25%{
    background: rgb(0,0,0);
  }

  50%{
    background: rgb(40, 19, 41);
  }

  75%{
    background: rgb(58, 18, 5);
  }

  100%{
    background: rgb(51, 51, 5);
  }
}

/* Nav Ends */
/* ---------------------Your Css here----------------------------- */

/* TV-Shows */



.Tv-Shows {
    background-color: transparent;
}


/* ad */
.top-ad {
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.first-box .left-img {
    width: 466.4px;
    height: 120px;
}

.right-box {
    width: 381.6px;
    height: 120px;
    padding: 16px 48px 16px 16px;
    background-color: #17181A;
}

.inner-box {
    width: 205.39px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box .img {
    width: 64px;
    height: 64px;
}

.inner-box .first-text {
    width: 125.39px;
    height: 19.2;
    color: #F6F6F6;
    font-size: 16px;
    font-weight: bold;
}

.inner-box .second-text {
    width: 125.39;
    height: 19.2;
    color: #F6F6F6;
    font-size: 12px;
}

.inner-box button {
    width: 109.36;
    height: 37.2;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #3e3f41;
    padding: 9px 16px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
}

.right-box .right-content {
    margin-left: 20px;
}

.Tv-Shows img{
  width: 3rem;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}


/* Global carousel property */

.wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* padding-top: 20px; */
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

/* Carousel 1 */
.c1 img {
    object-fit: cover;
    height: 514px;
    width: 914px;
    border-radius: 15px;
}

.c1 .item {
    min-width: 914px;
    width: 914px;
    height: 514px;
    margin-right: 16px;
}


/* logo and text on photo */

.item{
    position: relative;
}

.sliderLogo{
    display: flex;
    position: absolute;
    top: 55%;
    overflow: hidden;
    z-index: 1;
    width: 400px;
    left:30%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 


.sliderLogo img{
    /* position: absolute; */
    /* top:60%; */
    /* overflow: hidden; */
    z-index: 1;
    height: 150px;
    width: 200px;
    right: 50%;
}


#Hit3rd{
    color: black;
}

.sliderLogo p{
    /* position: absolute; */
    color:white;
    /* right :3rem; */
    z-index: 1;
} 




   /* slider-button*/


   .slider{
    display: flex;
    gap: 0.8rem;
    /* justify-content: flex-end; */
    /* margin-right: 5rem;
    margin-top: -5rem; */
    position: absolute;
    right:5rem;
    top: 35.7rem;
}
   .slider .circle1 , .circle2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

   }


/* slider button  in btw the slides*/

.sliderButton{
    display: flex;
    /* justify-content: flex-end; */
    /* margin-right: 5rem;
    margin-top: -5rem; */
    height: 50px;
    width: 50px;
    /* border-radius: 50%;
    border: 2px solid white; */
    color: white;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.sliderButton i{
    font-size: x-large;
    font-weight: 1000;
}
   /* .slider .circle1 , .circle2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

   } */


   .heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    align-items: center;
   }


/* Ad 2 */
.ad2 {
    width: 100%;
    max-height: auto;
    border-radius: 8px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.ad2 img {
    width: 1452px;
    max-width: 1452px;
    max-height: 311.14px;
    height: 311.14px;
    border-radius: 8px;
}


/* carousel 2 */

.carousel2 {
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
    padding-left: 24px;
    overflow: visible;
}

.c2 .item {
    min-width: 218px;
    width: 218px;
    height: 290.66px;
    margin-right: 16px;
}

.c2 img {
    object-fit: cover;
    width: 218px;
    height: 290.66px;
    border-radius: 15px;
}

.carousel2 h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}


/* carousel 3*/

.carousel3 {
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
    padding-left: 24px;
    overflow: visible;
}

.c3 .item {
    min-width: 218px;
    width: 218px;
    height: 290.66px;
    margin-right: 16px;
}

.c3 img {
    object-fit: cover;
    width: 218px;
    height: 290.66px;
    border-radius: 15px;
}

.carousel3 h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

/* carousel 4*/

.carousel4 {
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
    padding-left: 24px;
    overflow: visible;
}

.c4 .item {
    min-width: 218px;
    width: 218px;
    height: 290.66px;
    margin-right: 16px;
}

.c4 img {
    object-fit: cover;
    width: 218px;
    height: 290.66px;
    border-radius: 15px;
}

.carousel4 h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}


/* carousel 5*/

.carousel5 {
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
    padding-left: 24px;
    overflow: visible;
}

.c5 .item {
    min-width: 218px;
    width: 218px;
    height: 290.66px;
    margin-right: 16px;
}

.c5 img {
    object-fit: cover;
    width: 218px;
    height: 290.66px;
    border-radius: 15px;
}

.carousel5 h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

/* carousel 6*/

.carousel6 {
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
    padding-left: 24px;
    overflow: visible;
}

.c6 .item {
    min-width: 218px;
    width: 218px;
    height: 290.66px;
    margin-right: 16px;
}

.c6 img {
    object-fit: cover;
    width: 218px;
    height: 290.66px;
    border-radius: 15px;
}

.carousel6 h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}


/* carousel 7*/

.carousel7 {
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
    padding-left: 24px;
    overflow: visible;
}

.c7 .item {
    min-width: 218px;
    width: 218px;
    height: 290.66px;
    margin-right: 16px;
}

.c7 img {
    object-fit: cover;
    width: 218px;
    height: 290.66px;
    border-radius: 15px;
}

.carousel7 h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}


/* carousel 8*/

.carousel8 {
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
    padding-left: 24px;
    overflow: visible;
}

.c8 .item {
    min-width: 218px;
    width: 218px;
    height: 290.66px;
    margin-right: 16px;
}

.c8 img {
    object-fit: cover;
    width: 218px;
    height: 290.66px;
    border-radius: 15px;
}

.carousel8 h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    line-height: 1.2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}


/* Ad 3 */
.ad3 {
    width: 100%;
    max-height: auto;
    border-radius: 8px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad3 img {
    width: 1452px;
    max-width: 1452px;
    max-height: 311.14px;
    height: 311.14px;
    border-radius: 8px;
}

/* .item{
    opacity: 0.98;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
} */

.wrapper .item:hover{
     filter: brightness(120%);
}


/* Sequential */
.ad5 {
    width: 100%;
    max-height: auto;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .ad5 a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  .ad5 a.active {
    color: cyan;
    text-decoration: underline;
  }
  
  .ad5 a:hover {
    color: cyan;
    transition: color 0.5s ease-in-out;
  }




   /* .slider .circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   } */


/* Footer Starts */
footer {
    width: 100%;
    background-color: rgb(31, 28, 28);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer .main {
    width: 100%;
    padding: 40px 24px 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .left-fr-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

footer .main h4 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.2;
    margin-bottom: 16px;
}

footer .footer-content-list-1 {
    display: flex;
    flex-direction: column;
}

footer .left-fr-side ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: #FFFFFF;
    line-height: 1.2;
    color: #D9D6E5
}

footer .right-fr-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

footer .socials {
    display: flex;
    flex-direction: column;
}

footer .right-fr-side ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: #FFFFFF;
    line-height: 1.2;
    color: #D9D6E5
}

footer .right-fr-side h4 {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5625rem;
    color: #FFFFFF;
    line-height: 1.2;
    margin-bottom: 16px;
}

footer .right-fr-side .connect h4 {
    margin-bottom: 25px;
}

footer .right-fr-side .socials ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.12);
    height: 56px;
    width: 56px;
    border-radius: 56px;
}

footer .right-fr-side .socials li i {
    color: #FFFFFF;
    font-size: 1.54rem;
    margin: auto;
    cursor: pointer;
    margin-right: 16px;
}

footer .copyright {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    padding: 28px 24px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.12);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), #17181A;
}

footer .copyright p {
    margin: 0;
    font-family: JioType Var;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    color: #FFFFFF;
    line-height: 1.2;
}

footer .copyright img {
    width: 3rem;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
  }
  

/* RESPONSIVENESS STARTS HERE */

@media only screen and (max-width: 1440px) {
    .ad3 img {
      height: 298px;
    }
    .ad4 img {
      height: 298px;
    }

    .ad2 img{
      height: 302px;
    }

    .slider{
      display: none;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    nav {
      gap: 2rem;
    }
    .ad3 img {
      height: 207px;
    }
    .ad4 img {
      height: 207px;
    }
    .ad2 img {
      height: 200px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    nav .right-side .search-bar,
    nav .left-side ul,
    nav .right-side img {
      display: none;
    }

    .slider{
        display: none;
    }
  
    nav .right-side .ham {
      visibility: visible;
    }
  
    .ad3 img {
      height: 154px;
      padding-top: 1rem;
    }
    .ad4 img {
      height: 154px;
    }
    .ad2 img {
      height: 155px;
    }

    .sliderLogo {
        display: none;
    }
  
    .c1 .item {
      min-width: 55vw;
      width: 3vw;
      height: auto;
      margin-right: -2.7rem;
    }
  
    .c1 img {
      height: 19vh;
      width: 47vw;
    }
  
    .c2 .item {
      width: 40vw;
      height: 11vh;
      margin-right: -1.2rem;
    }
  
    .c2 img {
      width: 24vw;
      height: 11vh;
    }
  
    footer .main {
      flex-direction: column;
      gap: 3rem;
    }
  }
  
  @media only screen and (max-width: 452px) {
    nav {
      gap: 5rem;
    }

    .wrapper{
        padding-top: 20px;
    }

    nav .right-side a{
      display: none;
    }
  
    .top-ad {
      display: none;
    }
  
    .ad3 img {
      height: 84px;
    }
    .ad4 img {
      height: 84px;
    }
    .ad2{
        padding-top: 0;
    }
    .ad2 img {
      height: 88px;
    }
  
    .c2 .item {
      margin-right: -7rem;
      width: 43vw;
      height: 14vh;
    }

    .c2 img{
        width: 23vw;
        height: 14vh;
    }
  
    .c1 .item {
      margin-right: -1.7rem;
    }
  
    .c1 img {
      height: 10vh;
    }
  
    .c4 .item {
      width: 47vw;
      height: 29vh;
      margin-right: -0.5rem;
    }
  
    .c4 img {
      width: 47vw;
      height: 29vh;
    }
  
    footer .right-fr-side {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 375px) {
    nav {
      gap: 3rem;
    }
  
    .top-ad {
      display: none;
    }
  
    .c2 .item{
      margin-right: -8rem;
    }
  
    .ad3 img {
      height: 75px;
    }
    .ad4 img {
      height: 75px;
    }
    .ad2 img {
      height: 80px;
    }

    .c4 .item {
        margin-right: -1.5rem;
      }
  }
  
  @media only screen and (max-width: 320px) {
    nav {
      gap: 0rem;
    }
  
    nav .left-content button{
      display: none;
    }
  
    .c1 .item{
      margin-right: -0.7rem;
    }
  
    .top-ad {
      display: none;
    }
  
    .c2 .item{
      margin-right: -8rem;
    }
  
    .c4 .item{
      margin-right: -3.5rem;
    }
  
    .ad5{
      gap: 1rem;
    }
    
    .ad3 img {
      height: 61px;
    }
    .ad4 img {
      height: 61px;
    }
    .ad2 img {
      height: 68px;
    }
  }