@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,600;0,800;1,300;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --nav-brown-color: #660014;
}

body {
    background-color: black;
    overflow-x: hidden;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV Starts */
/* body {
    background: rgb(13, 14, 16);
    margin-left: 1rem;
} */

h1,h2,h3,h4,h5,h6,p,a,span,button,li,input,textarea,label,select,option {
    font-family: "Open-Sans", sans-serif;
    margin: 0;
    padding: 0;
  }

nav{
    width: 100%;
    background-color: var(--nav-brown-color);
    height: 80px;
    padding: 0 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: navcolorchange 12s alternate infinite ease-in-out;
    align-items: center;
    color: white;
}

nav .right-side .ham {
    visibility: hidden;
  }

  .left-side li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

nav .search-bar input:focus {
    outline: none;
  }

nav .left-side{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav .left-side .left-content{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav .left-content button {
    position: relative;
    height: 2rem;
    color: rgb(193, 163, 98);
    margin: auto;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 14px;
    border: 2px solid rgb(193, 163, 98);
    border-radius: 20px;
    z-index: 1;
}

nav .left-content button a{
    text-decoration: none;
    color: rgb(193, 163, 98);
}

nav .left-side ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav ul li.active{
    border: 1px solid white;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    min-width: 64px;
}

nav .right-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav .right-side .search-bar{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    cursor: text;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 2.64rem;
    position: relative;
    padding: 0 14px;
    gap: 1rem;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 32px;
    transition: border-color 0.3s ease-in-out 0s;
}

nav .search-bar input {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    padding: 16.5px 0px;
}

nav .right-side img{
    width: 61%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

nav .right-side a {
    width: 4rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes colorchange{
    0%{
      background: linear-gradient(151deg, rgb(68,68,7) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
    }
  
    25%{
      background: linear-gradient(151deg, rgb(0,0,0) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
    }
  
    50%{
      background: linear-gradient(151deg, rgb(52, 23, 53) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
    }
  
    75%{
      background: linear-gradient(151deg, rgb(68,22,7) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
    }
  
    100%{
      background: linear-gradient(151deg, rgb(68, 68, 7) 0%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 100%);
    }
  }
  
  @keyframes navcolorchange{
    0%{
      background: rgb(49, 49, 4);
    }
  
    25%{
      background: rgb(0,0,0);
    }
  
    50%{
      background: rgb(40, 19, 41);
    }
  
    75%{
      background: rgb(58, 18, 5);
    }
  
    100%{
      background: rgb(51, 51, 5);
    }
  }

/* <------sports page------> */

/* #beside_ad {
    background-color: rgba(23, 24, 26, 255);
} */

/* .btn {
    padding: 0.6rem 1rem;
    border-radius: 25px;
    border: none;
    background-color: rgb(62, 63, 65);
} */
main {
    padding-left: 1rem;
    animation: colorchange 12s alternate infinite ease-in-out;
}
/* ad */
.ab-right-content {
    font-family: "Open-Sans", sans-serif;
}

.ab-top-ad {
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ab-first-box .ab-left-img {
    width: 466.4px;
    height: 120px;
}

.ab-right-box {
    width: 381.6px;
    height: 120px;
    padding: 16px 48px 16px 16px;
    background-color: #17181A;
}

.ab-inner-box {
    width: 205.39px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ab-inner-box .img {
    width: 64px;
    height: 64px;
}

.ab-inner-box .ab-first-text {
    width: 125.39px;
    height: 19.2;
    color: #F6F6F6;
    font-size: 16px;
    font-weight: bold;
}

.ab-inner-box .ab-second-text {
    width: 125.39;
    height: 19.2;
    color: #F6F6F6;
    font-size: 12px;
}

.ab-inner-box button {
    width: 109.36;
    height: 37.2;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #3e3f41;
    padding: 9px 16px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
}

.ab-right-box .ab-right-content {
    margin-left: 20px;
}

/* .Tv-Shows img{
  width: 3rem;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
} */

.spo-text {
    color: #FFFFFF;
    padding-bottom: 8px;
    /* overflow-y: auto; */
}

.sport-carousal {
    width: 100%;
    height: auto;
    /* margin: 1%; */
}
.wrapper {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    width: 100%;
    /* margin-left: 1rem; */
    /* margin-bottom: 0.5rem; */
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper2::-webkit-scrollbar {
    width: 0;
}

.wrapper-three {
    display: flex;
    gap: 1%;
}

.wrapper-three::-webkit-scrollbar {
    width: 0;
}

.all-games::-webkit-scrollbar {
    width: 0;
}

.wrapper .sports-img {
    width: 180px;
    height: 240px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
}

.effect {
    width: 180px;
    height: 240px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    opacity: 0.98;
    gap: 0.1rem;
    /* overflow-x: auto; */
    /* margin-left: 1rem; */
    /* margin-right: 0.5rem; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* margin-left: 0.2rem; */
} 

.sports-img:hover {
    opacity: 0.9;
}

.big-sport-img:hover {
    opacity: 0.6;
}

.wrapper1 {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.wrapper2 {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    position: relative;
    /* overflow-y: hidden; */
    height: 154px;
    overflow-y: visible;
    height: 199px;
}

.wrapper3 {
    display: flex;
    gap: 15px;
}

.big-sport-img {
    width: 550px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
}

#space_creator {
    padding: 1%;
}

.T20 {
    opacity: 0.88;
}

.T20:hover {
    opacity: 0.95;
}

.wrapper2 img {
    height: 154px;
    width: 275px;
    border-radius: 10px;
}

.banner-img {
    position: relative;
    /* background-color: #FFFFFF; */
    cursor: pointer;
     /* background-color: white; */
    /* opacity: 1;  */
    height: 160px;
}

/* .banner-img img {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
} */

.banner-img .spo-text {
    font-size: medium;
}

.img_text {
    position: absolute;
    top: 73%;
    left: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: 7;
    filter: box-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.bg {
    background-color: rgb(52, 53, 54);
    gap: 10px;
    border-radius: 10%;
    height: 190px;
    width: 300px;
    gap: 20px;
    padding-top: 1%;
    padding-left: 1%;
}

.second_ad {
    height: 96px;
    width: 970px;
    border-radius: 10px;
}
.spo_ad {
    padding: 1% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third_ad {
    height: 311.14px;
    width: 90%;
    /* max-width: 1452px; */
    border-radius: 10px;
    /* margin-left: 5rem; */
    margin-top: 1rem;
}
.movie_ad {
    /* padding: 0.5% 1% 0.5% 1%; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.down-side {
    display: flex;
    /* align-content: center; */
}

.tournamnets {
    display: flex;
}

#tour-head {
    /* margin-left: 1.5rem; */
    margin-bottom: 0.5rem;
}

.container {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    /* margin-left: 1.5rem; */
    margin-right: 5rem;
    width: 100%;
    overflow-y: hidden;
}

.size {
    height: 133px;
    width: 133px;
    border-radius: 2rem;
}

.container::-webkit-scrollbar {
    width: 0;
}

.ind {
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 10%;
}

.IND {
    color: #FFFFFF;
    font-weight: 700;
}

#ttt {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2%;
}

.whole {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    /* margin-bottom: 1%; */
}

.aus {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}
.AUS {
    display: flex;
    align-items: center;
    /* padding: 2px; */
    gap: 10%;
}
.gold {
    font-weight: 500;
    color: #FCE2B2;
    font-size: small;
    padding-top: 2%;
    margin-top: 1%;
}

/* Sequential */
.ad5 {
    width: 100%;
    max-height: auto;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .ad5 a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  .ad5 a.active {
    color: cyan;
    text-decoration: underline;
  }
  
  .ad5 a:hover {
    color: cyan;
    transition: color 0.5s ease-in-out;
  }

    .ab-square {
        height: 133px;
        width: 150px;
        cursor: pointer;
    }
  .ab-square:hover {
        background-color: #3e3f41;
  }

.big-sport-image1 {
    position: relative;
}

.ab-slider-logo img {
    position: absolute;
    top: 30%;
    z-index: 1;
    width: 400px;
    left:15%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.ab-sliderButton {
    display: flex;
    height: 50px;
    width: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.ab-sliderButton i {
    font-size: x-large;
    font-weight: 1000;
}

.ab-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    align-items: center;
}

.game {
    display: flex;
    height: 140px;
    width: 140px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    background-color: rgb(23, 24, 26);
}

.game:hover {
    background-color: #3e3f41;
}

.wrapper {
    display: flex;
    width: 100vw;
    overflow-x: scroll;
}


/* Nav Ends */
/* ---------------------Your Css here----------------------------- */
/* Footer Starts */
footer{
    width: 100%;
    background-color: rgb(31, 28, 28);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer .main{
    width: 100%;
    padding: 40px 24px 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .left-fr-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

footer .main h4 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.2;
    margin-bottom: 16px;
}

footer .footer-content-list-1{
    display: flex;
    flex-direction: column;
}

footer .left-fr-side ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: #FFFFFF;
    line-height: 1.2;
    color: #D9D6E5
}

footer .right-fr-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

footer .socials{
    display: flex;
    flex-direction: column;
}

footer .right-fr-side ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: #FFFFFF;
    line-height: 1.2;
    color: #D9D6E5
}

footer .right-fr-side h4 {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5625rem;
    color: #FFFFFF;
    line-height: 1.2;
    margin-bottom: 16px;
}

footer .right-fr-side .connect h4 {
    margin-bottom: 25px;
}

footer .right-fr-side .socials ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.12);
    height: 56px;
    width: 56px;
    border-radius: 56px;
}

footer .right-fr-side .socials li i{
        color: #FFFFFF;
        font-size: 1.54rem;
        margin: auto;
        cursor: pointer;
        margin-right: 16px;
}

footer .copyright{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    padding: 28px 24px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.12);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)),#17181A;
}

footer .copyright p{
        margin: 0;
        font-family: JioType Var;
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        color: #FFFFFF;
        line-height: 1.2;
}

footer .copyright img {
    width: 3rem;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
  }

  /* RESPONSIVENESS STARTS HERE */
  
  @media only screen and (max-width: 1024px) {
    nav {
      gap: 2rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    nav .right-side .search-bar,
    nav .left-side ul,
    nav .right-side img {
      display: none;
    }
  
    nav .right-side .ham {
      visibility: visible;
    }

    .score_carousal{
        display: none;
    }
  
   .second_ad{
    width: 570px;
   }
  
    footer .main {
      flex-direction: column;
      gap: 3rem;
    }
  }
  
  @media only screen and (max-width: 452px) {
    nav {
      gap: 5rem;
    }
  
    .ab-top-ad {
      display: none;
    }

    .ab-slider-logo{
        display: none;
    }

    nav .right-side a{
        display: none;
      }

    .big-sport-img{
        width: 304px;
        height: 202px;
    }

    .second_ad{
        width: 316px;
        height: 49px;
    }

    .third_ad{
        height: 137px;
    }
  
    footer .right-fr-side {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 385px) {
    nav {
      gap: 3rem;
    }
  
    .ab-top-ad {
      display: none;
    }

    .game {
        height: 90px;
        width: 90px;
    }

  }
  
  @media only screen and (max-width: 320px) {
    nav {
      gap: 0rem;
    }
  
    nav .left-content button{
      display: none;
    }
  
    .second_ad{
        width: 226px;
        height: 31px;
    }

    .big-sport-img{
        width: 203px;
        height: 120px;
    }
  
    .ab-top-ad {
      display: none;
    }

    .ad5{
        gap: 1rem;
    }
  }
  
